In [269]:
import pandas as pd 
from sklearn.svm import SVR 
import numpy as np
from sklearn.model_selection import train_test_split 
from sklearn.model_selection import train_test_split
from scipy.stats import uniform
from sklearn import linear_model, datasets
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
import pandas as pd 
import numpy as np 
import seaborn as sns

In [270]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/PCA/newhousing.csv')

In [271]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,areaperbedroom,bbratio
0,5250000,5500,3,2,1,1,0,1,0,0,0,0,1,0,1833.333333,0.666667
1,4480000,4040,3,1,2,1,0,0,0,0,1,0,1,0,1346.666667,0.333333
2,3570000,3640,2,1,1,1,0,0,0,0,0,0,0,1,1820.000000,0.500000
3,2870000,3040,2,1,1,0,0,0,0,0,0,0,0,1,1520.000000,0.500000
4,3570000,4500,2,1,1,0,0,0,0,0,0,0,0,0,2250.000000,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,4403000,4880,3,1,1,1,0,0,0,0,2,1,0,1,1626.666667,0.333333
541,2660000,2000,2,1,2,1,0,0,0,0,0,0,1,0,1000.000000,0.500000
542,4480000,8250,3,1,1,1,0,0,0,0,0,0,0,0,2750.000000,0.333333
543,5110000,11410,2,1,2,1,0,0,0,0,0,1,0,0,5705.000000,0.500000
544,4410000,3968,3,1,2,0,0,0,0,0,0,0,1,0,1322.666667,0.333333

In [272]:
df.isnull().sum()

price              0
area               0
bedrooms           0
bathrooms          0
stories            0
mainroad           0
guestroom          0
basement           0
hotwaterheating    0
airconditioning    0
parking            0
prefarea           0
semi-furnished     0
unfurnished        0
areaperbedroom     0
bbratio            0
dtype: int64

In [273]:
X = df.drop('price', axis=1) 
y = df[['price']]

In [274]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

sc_X = StandardScaler()
sc_y = StandardScaler()

In [275]:
X_train, X_test,y_train,y_test = train_test_split(X,y, 
                                                  test_size =.2,
                                                  random_state=42 
                                                  )

In [276]:
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

y_train = sc_y.fit_transform(y_train)
y_test = sc_y.transform(y_test)

In [277]:
from sklearn.linear_model import LogisticRegression 
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.svm import SVC

In [278]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)
regressor.score(X_test,y_test)

0.6789132973714735

In [279]:
from sklearn.ensemble import RandomForestRegressor 
RFC = RandomForestRegressor(n_estimators=500)

RFC.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestRegressor(n_estimators=500)

In [288]:
RFC.score(X_test,y_test)

0.6739113152016477

In [281]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/PCA/newhousing.csv')

In [282]:
X = df.drop('price', axis=1) 
y = df[['price']]

In [283]:

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

sc_X = StandardScaler()
sc_y = StandardScaler()



X= sc_X.fit_transform(X)


y = sc_y.fit_transform(y)

In [284]:
from sklearn.decomposition import PCA



pca=PCA(n_components=5)
pca.fit(X)
x_pca=pca.transform(X)

In [285]:
X_train, X_test,y_train,y_test = train_test_split(x_pca,y, 
                                                  test_size =.2,
                                                  random_state=42 
                                                  )

In [286]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)

regressor.score(X_test,y_test)

0.665286475690297

In [287]:
from sklearn.ensemble import RandomForestRegressor 
RFC = RandomForestRegressor(n_estimators=100)

RFC.fit(X_train,y_train) 

RFC.score(X_test,y_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

0.6739113152016477

# Out of all 4 models, our best model is without PCA being used, is Random Forest Regressor